# Python cache

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

.venv/
venv/
env/
.env

# Distribution / packaging

build/
dist/
*.egg-info/

# Django

db.sqlite3
*.log
media/

# Git:
.git/
.gitignore

# Environment variables:
.env
.env.*

# IDE / Editor:
# .vscode/
# .idea/

# OS files:
# .DS_Store
# Thumbs.db

# Test / coverage:
# .pytest_cache/
# .coverage
# htmlcov/

# Docker:
# Dockerfile
# docker-compose.yaml
# .dockerignore
