############################################
# Redis Production Configuration (Docker)
############################################

bind 0.0.0.0
port 6379
protected-mode no

# Disable default user
user default off

# ACL user (replace YOUR_REDIS_PASSWORD_HERE locally)
user djangoapp on >YOUR_REDIS_PASSWORD_HERE ~* +@all

appendonly yes
appendfilename "appendonly.aof"

save 900 1
save 300 10
save 60 10000

maxmemory 256mb
maxmemory-policy allkeys-lru

loglevel notice
logfile ""

rename-command FLUSHDB ""
rename-command FLUSHALL ""
rename-command CONFIG ""
rename-command SHUTDOWN ""